---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "config";
@import "base";
@import "components/utils";
@import "components/typos";
@import "components/icons";
@import "components/forms";
@import "components/default";
@import "components/vendor/magnific-popup";
@import "layout";

/* header */
@-webkit-keyframes menu-visibility { from { visibility:visible; } to { visibility:hidden; }  }
@-moz-keyframes menu-visibility { from { visibility:visible; } to { visibility:hidden; }  }
@-o-keyframes menu-visibility { from { visibility:visible; } to { visibility:hidden; }  }
@keyframes menu-visibility { from { visibility:visible; } to { visibility:hidden; }  }
#header{
	background:#9BCA3E;
	position:relative;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
	.header-title{margin-bottom:0;color:#fff;float:left;}
	.mm-it{text-align:center;}
	.mm-it a{color:#fff;font-size:1.5em;padding:10px;display:block;}
	.hd-menu-btn{color:#fff;}
  	.main-nav{float:right;margin-top:8px;}

	.main-menu{
		background:#9BCA3E;
	    -webkit-transform:translateY(-100%);
	    transform:translateY(-100%);
	    -webkit-transition:transform 0.2s;
	    transition:transform 0.2s;
	    border-top:3px dashed #000;
	}
  .main-menu-container{
    overflow:hidden;
    position: absolute;
    top:100%;
    left: 0;
    right: 0;

    -webkit-animation: menu-visibility 0s ease 0.2s;
    -moz-animation: menu-visibility 0s ease 0.2s;
    -o-animation: menu-visibility 0s ease 0.2s;
    animation: menu-visibility 0s ease 0.2s;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;


    visibility:hidden\9;

    &.is-opened{
    	-webkit-animation-name:none;
    	-moz-animation-name:none;
    	-o-animation-name:none;
    	animation-name:none;

    	visibility:visible\9;
	    .main-menu{
      		-webkit-transform:translateY(0%);
      		transform:translateY(0%);
	    }
    }
  }
}


.generic-section{
	padding:5.281690% 15px;

	.gc-title{margin-bottom:25px;}
}

.about-author{
	height:calc(100vh - 70px);
	width:100%;
	box-sizing: border-box;
	display: table;
	background-image:url(../img/macbook-air-all-faded-and-stuff.jpg);
	background-position: center;
	background-size:cover;
	color:#fff;
	.au-author-img{
		margin:0 auto 25px;
		display:block;
	}

	.wp{
		display: table-cell;
		vertical-align: middle;
	}
	a{white-space:pre;}

	.au-text{margin:0 auto 30px;font-size:2em;}
	.text2, .au-text{text-shadow: 0 0 3px #000;}
}

.section-services{
	.service{
		margin-bottom:30px;
		p{font-size:1.5em;}
	}
}

.section-portfolio{
	padding-top:0;
	overflow:hidden;/* because portfolio-lst margin */
	.portfolio-lst{text-align:center;}
	.prt-img{
		display:block;margin:0 auto;
		opacity:1;
		-webkit-transition: opacity .25s linear;
		transition: opacity .25s linear;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	.prt-it{margin-bottom:15px; margin-right:0; box-shadow:0px 0px 3px 0px #A5A5A5;}
	a{
		display:block;
		position:relative;
		-webkit-transition: background-color .25s linear;
		transition: background-color .25s linear;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);

		&:after{
			content:attr(data-title);
			-webkit-transition:opacity .25s linear;
			transition:opacity .25s linear;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			display:block;
			position:absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align:center;
			font-size:1.8em;
			color:#fff;
			opacity:0;
		}
		&:hover, &:focus{
			background:#343434;
			&:after{
				opacity:1;
			}
			.prt-img{
				opacity:0.4;
			}
		}
	}
}
/* lightbox */
.portfolio-details{
	.prt-img{margin-bottom:10px;display:block;}
}


/* footer */
#footer{
  text-align:center;
  background:#F3F3F3;
  	.frt-photo-container{border-radius:180px;margin:0 auto 25px;width:180px;height:180px;border:5px solid #fff;overflow:hidden;}
	.frt-photo{display:block;margin:0 auto;}
	.social-medias{text-align:center;}
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 35px;
  width: auto;
  max-width: 630px;
  margin: 20px auto;
  box-sizing: border-box;
}
