---
#
---

#header {
	.main-menu-container{
		position: static;
		display:block;
		-webkit-animation-name:none;
		animation-name:none;
	}
	.hd-menu-btn{display:none;}
	.main-nav{margin-top:0;}
	.main-menu{
		-webkit-transform:none;
		transform:none;
		border-top:0;
		.mm-it{display:inline-block;}
	}
}

.section-portfolio{
	.prt-it{width:32.291666%;margin-right:1.041666%;}
}


.about-author{
	.wp{max-width:960px;}
}