---
#
---

#header {
	.main-menu-container{
		position: static;
		display:block;
		-webkit-animation-name:none;
		animation-name:none;
	}
	.hd-menu-btn{display:none;}
	.main-nav{margin-top:0;}
	.main-menu{
		-webkit-transform:none;
		transform:none;
		border-top:0;
		.mm-it{display:inline-block;}
	}
}

.section-portfolio{

	.prt-it{width:calc(33.333333% - 20px);}
}


.about-author{
	background-attachment: fixed;
	.wp{text-align: center;}
	.block-info{
		max-width:960px;
		display: inline-block;
		text-align: left;
	}
}
