---
#
---
@import "config";

/* header */
#header{
	.main-menu-container{
		left:auto;
    	min-width: 200px;
	}
	.mm-it{
		text-align:right;
		a{padding:10px 15px;display:inline-block;}
	}

}

.about-author{
	.wp{max-width:80%;}
	.au-text{font-size:3em;text-align:left;}
}


.service-lst{
	overflow:hidden;
	.srv-it{width:33%;float:left;padding-right:15px;box-sizing:border-box;}

}

.section-portfolio{
	.portfolio-lst{text-align:left;margin:0;}
	.prt-it{width:32.8125%;margin-right:0.5208333%;}
}
