<footer id="footer" role="footer">
	<div class="wp">
		<h1 class-"title2">Entre em contato!</h1>
		<div class="frt-photo-container"><img src="{{ "/img/profile-image.jpg" | prepend: site.baseurl }}"  class="frt-photo" alt="Arthur Pavão Franco"></div>
		<ul class="lst-tp1 social-medias">
			<li class="it-tp1 sm-it"><a class="icon-linkedin2 icon-link icon-size1" href="https://br.linkedin.com/pub/arthur-franco/4b/903/bba" target="_blank"><span class="sr-only">LinkedIn</span></a></li>
			<li class="it-tp1 sm-it"><a class="icon-github2 icon-link icon-size1" href="https://github.com/arthurpf" target="_blank"><span class="sr-only">Github</span></a></li>
			<li class="it-tp1 sm-it"><a class="icon-twitter icon-link icon-size1" href="https://twitter.com/XxarthurpfXx" target="_blank"><span class="sr-only">Twitter</span></a></li>
		</ul>
		<p class="text2"><a href="mailto:arthurpf4@gmail.com">arthurpf4@gmail.com</a></p>
		<a href="#">voltar ao topo</a>
	</div>
</footer>
