<header id="header" role="banner">
	<h1 class="title3 header-title">Arthur Pavão Franco</h1>
	<nav class="main-nav" role="navigation">
		<span class="icon-menu icon-size2 hd-menu-btn" tabindex="0" role="button"><span class="sr-only">Menu</span></span>
		<div class="main-menu-container">
			<ul class="main-menu">
				<li class="mm-it"><a href="#servicos">What I do?</a></li>
				<li class="mm-it"><a href="#portfolio">Portfolio</a></li>
				<li class="mm-it"><a href="#footer">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>
