input[type=text],input[type=email],input[type=password]{
	padding:5px;
	font-size:1.5em;
	border:1px solid #666;

}
label{display:block;margin-bottom:5px;font-size:1.5em;}
legend{font-size:2em;margin-bottom:15px;}